@{
    ViewData["Title"] = "Eliminar registro";
}
@model Registro;

<h1 class="text-center">Sistema de registro</h1>

<div class="row">
    <div class="offset-12">
        <section class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-pencil"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /><path d="M13.5 6.5l4 4" /></svg><strong> Eliminar registro de @Model.Nombres</strong></h3>
            </div>
            <div class="card-body bg-secondary-subtle">
                <p class="text-center text-primary">SEGURO QUE QUIERES ELIMINAR ESTE REGISTRO</p>
                <form asp-action="EliminarRegistro" method="POST" class="row g-3 ">
                    <input type="hidden" asp-for="Id" readonly />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mt-3 col-md-4">
                        <label asp-for="Nombres" class="form-label">Nombre</label>
                        <input type="text" asp-for="Nombres" class="form-control" placeholder="Ingresa el nombre"  readonly/>
                        <span asp-validation-for="Nombres" class="text-danger"></span>
                    </div>
                    <div class="mt-3 col-md-4">
                        <label asp-for="ApellidoPaterno" class="form-label"></label>
                        <input type="text" asp-for="ApellidoPaterno" class="form-control" placeholder="Ingrese el apellido paterno" readonly />
                        <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
                    </div>
                    <div class="mt-3 col-md-4">
                        <label asp-for="ApellidoMaterno" class="form-label"></label>
                        <input type="text" asp-for="ApellidoMaterno" class="form-control" placeholder="Ingrese el apellido materno" readonly />
                        <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
                    </div>
                    <div class="mt-3 col-md-3">
                        <label asp-for="Edad" class="form-label"></label>
                        <input type="number" asp-for="Edad" class="form-control" placeholder="Ingresa la edad" readonly />
                        <span asp-validation-for="Edad" class="text-danger"></span>
                    </div>
                    <div class="mt-3 col-md-4">
                        <label asp-for="Numero" class="form-label"></label>
                        <input type="tel" asp-for="Numero" class="form-control" placeholder="Ingrese número de celular" readonly />
                        <span asp-validation-for="Numero" class="text-danger"></span>
                    </div>
                    <div class="mt-3 col-md-5">
                        <label asp-for="Correo" class="form-label"></label>
                        <input type="email" asp-for="Correo" class="form-control" placeholder="name@example.com" readonly />
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>
                    <div class="mt-3 col-md-3">
                        <label asp-for="FechaNacimiento" class="form-label"></label>
                        <input type="date" asp-for="FechaNacimiento" class="form-control" placeholder="" readonly />
                        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                    </div>
                    <div class="mt-3 col-md-3">
                        <label asp-for="Sexo" class="form-label"></label>
                        <select asp-for="Sexo" class="form-select" readonly>
                            <option selected>Seleccione su sexo</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                        <span asp-validation-for="Sexo" class="text-danger"></span>
                    </div>
                    <div class="mt-3 col-md-3">
                        <label asp-for="EstadoCivil" class="form-label"></label>
                        <select asp-for="EstadoCivil" class="form-select" readonly>
                            <option selected>Seleccione su estado civil</option>
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Divorciado">Divorciado</option>
                            <option value="Viudo">Viudo</option>
                            <option value="Union Libre">Unión Libre</option>
                        </select>
                        <span asp-validation-for="EstadoCivil" class="text-danger"></span>
                    </div>
                    <div class="mt-3 col-md-3 ">
                        <label asp-for="Activo" class="form-label"></label>
                        <div class="form-check form-switch ">
                            <input readonly asp-for="Activo" type="checkbox" class="form-check-input" role="switch" id="switchCheckDefault" />
                            <label class="form-label">¿El usuario esta activo?</label>
                        </div>
                        <span asp-validation-for="Activo" class="text-danger"></span>
                    </div>
                    <div class="mt-5 col-md-12">
                        <button type="submit" class="btn btn-danger d-block mx-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-device-floppy"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" /><path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M14 4l0 4l-6 0l0 -4" /></svg> Eliminar registro
                        </button>
                    </div>
                </form>
                <a asp-controller="Home" asp-action="Index">Volver</a>
            </div>
        </section>
    </div>
</div>
